body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
:root{
    --container-width: 1170px;
}

.container{
    border: 1px solid #000;
    width: var(--container-width);
    text-align: center;
    margin-bottom: 30px;
}
.grid__position{
    display: grid;
    gap: 30px;
}
.first-grid-row{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    width: var(--container-width);
    gap: 30px;
}
.second-grid-row{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    width: var(--container-width);
    gap: 30px;
}
.third-grid-row{
    display: grid;
    grid-template-columns: 4fr 4fr;
    width: var(--container-width);
    gap: 30px;
}
.item{
    text-align: center;
    height: 200px;
    border: 1px solid #000;
}
.third-grid-row{
    display: flex;
    justify-content: space-between;
}
.third-grid-row__item{
   display: grid;
   grid-column: 3;
   border: 1px solid #000;
   gap: 30px;
   width: 50%;
   grid-template-columns: 2fr 2fr 2fr;
   grid-template-areas:
   "a d b"
   "c 0 0";
}

.block1{
    grid-area: a;
}
.block2{
    grid-area: b;
}
.block3{
    grid-area: c;
    width: 200px !important;
    height: 200px !important;
}
.block4{
    grid-area: d;
}
.third-grid-row__block{
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: yellow;
}
.third-grid-row_column{
    display: grid;
    width: 50%;
    grid-column: 1;
    grid-template-columns: 1fr;
    border: 1px solid #000;
}

.third-grid-row_column__elem{
    width: 100%;
    background-color: yellow;
    height: 110px;
    gap: 20%;
}

@media screen and(min-device-width: 1244px) {
    .container{
       display: none;
    }
    
}
